.list{
    display: flex;
    border-bottom: 1px solid rgb(164, 189, 235);
    box-shadow: 5px 5px 10px rgb(164, 189, 235);
    border-radius: 20px;
    padding: 10px;
    
}
.list img{
    padding-top: 20px;
}
.user-name{
    color:rgb(99, 159, 238);
    font-weight: 400;
}

.info-padding{
    margin-left: 20px;
    color:rgb(99, 159, 238);
}
.connect-button{
    height: 30px;
    width: 130px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    color: rgb(99, 159, 238);
    border: 2px solid rgb(99, 159, 238)6;
    border-radius: 10px;
}
.connect-button:hover{
    color: #fff;
    background: rgb(99, 159, 238);
  }